[class*="span"] {
      margin-top:10px;
      margin-bottom:10px;
}
[class="span10"] {
	  background-color: green;
}
body {
    background-color:#ddd;
}
#formulaire {
    background-color:#ccc;
    padding: 10px;
}
